version: '3.3'

services:
  db:
    container_name: nedrexdb_v2
    build: .
    environment:
      - DOWNLOAD_ON_STARTUP=0
      - SKIP_UPDATE=0
      - SKIP_OPEN=1
      - SKIP_CLEAN=0
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /tmp/nedrexdb_v2:/tmp
      - ./config/licensed_config.toml:/app/nedrexdb/.licensed_config.toml
      - ./config/open_config.toml:/app/nedrexdb/.open_config.toml
      - /localscratch/nedrex_files:/data/nedrex_files
#    restart: always
    networks:
      - nedrexdb_default
networks:
    nedrexdb_default:
        external: true
